
<table id="productos">
  <tr>
    <th>Id:</th>
    <th>Name:</th>
    <th>Description:</th>
    <th>Code:</th>
    <th>Price:</th>
    <th>Stock:</th>
  </tr>
  {{#each products}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.code}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
    </tr>
  {{/each}}
  
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>