<!-- products.handlebars -->
  <div id="header">
    <a href="/carts" class="cart-logo">
      <img src="img/logoCarrito.png" alt="Logo Carrito">
    </a>
  </div>

  <div>
    <h2>Bienvenido, {{user.name}}!!</h2>
  </div>

{{#each products}}
  <div class="product">
    <h2>{{name}}</h2>
    <p>Precio: {{price}}</p>
    <p>Categoría: {{category}}</p>
    <button onclick="window.location='/products/{{_id}}'">Ver detalles</button>
    <button onclick="addToCart('{{_id}}')">Agregar al carrito</button>
  </div>
{{/each}}


<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>