{{!-- Formulario --}}
<form id="productForm" action="/realTimeProducts" method="POST">
  <label for="name"><strong>Name: </strong><input id="nameInput" type="text" name="name"></label>
  <label for="description"><strong>Description: </strong><input id="descriptionInput" type="text" name="description"></label>
  <label for="code"><strong>Code: </strong><input id="codeInput" type="text" name="code"></label>
  <label for="price"><strong>Price: </strong><input id="priceInput" type="text" name="price"></label>
  <label for="stock"><strong>Stock: </strong><input id="stockInput" type="text" name="stock"></label>
  <label for="category"><strong>Category: </strong><input id="categoryInput" type="text" name="category"></label>
  <label for="thumbnail"><strong>Thumbnail: </strong><input id="thumbnailInput" type="text" name="thumbnail"></label>
  <input class="sendButton" id="sendButton" type="submit" value="Send">
</form>

{{!-- Tabla de productos --}}
<table id="productos">
  <tr>
    <th>Id:</th>
    <th>Name:</th>
    <th>Description:</th>
    <th>Code:</th>
    <th>Price:</th>
    <th>Stock:</th>
    <th>Category:</th>
    <th>Owner:</th>
    <th>Thumbnail:</th>
    <th>Delete:</th>
  </tr>
  {{#each products}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.code}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td>
      <td>{{this.owner}}</td>
      <td>{{this.thumbnail}}</td>
      <td>
        <button class="deleteButton" id="{{this._id}}">Delete</button>
      </td>
    </tr>
  {{/each}}
</table>

<div class="pagination">
  {{#if pagination.hasPrevPage}}
    <a href="{{pagination.prevLink}}">Previous</a>
  {{/if}}
  {{#if pagination.hasNextPage}}
    <a href="{{pagination.nextLink}}">Next</a>
  {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>